.auth {
  background: $lightergray;
  &-wrapper {
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  //
  // &-container {
  //   min-width: 200px;
  //   max-width: 360px;
  // }

  &-container {
    width: 100%;
  }

  &-header, &-footer {
    text-align: center;
  }

  &-form {
    max-width: 420px;
    margin: $baseunit auto;
  }

}
