.beer {

	padding: $baseunit 0;



	&-content {
		display: flex;
	}

	&-info {
		flex: 3;
	}

	figure {
		flex: 1;
		img {
			border-radius: 50%;
			padding: 4px;
			border: solid 1px $lightergray;
			display: block;
		}
	}

	p {
		margin: 0;
		@include font-size(22);
	}

	&-title {
		margin: 0;
		font-size: 2.5em;
	}

	&-tap {
		color: $white;
		margin: 0;
		font-size: .875em;
		text-transform: uppercase;
		color: $lightergray;
	}

	&-attribute {
		margin: 0 $baseunit/2 0 0;
	}

}