.building {
	&-header {
		display: flex;
		height: 120px;

	}

	&-photo {
		width: 120px;

	}

	&-map {
		flex: 1;
		height: 120px;
		.map {
			width: 100%;
			height: 120px;
		}
	}

	@include breakpoint(small) {

		&-header {
			height: 240px;
		}

		&-photo {
			width: 240px;

		}

		&-map {
			height: 240px;
			.map {
				width: 100%;
				height: 240px;
			}
		}

	}

}