.demarc {
	&-attribute {
		background: $white;
		margin: 0 0 $baseunit/2 0;
		display: flex;
		
	}

	&-attribute{
		&-label {
			flex: 1;
			padding: $baseunit/2;

			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			// align-items: center;


		}
		&-photo {
			width: 50px;
		}
	}

	&-attribute-icon {
		width: 50px;

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		padding: $baseunit/2;
		svg {
			fill: white;
		}
		&-yes {
			background: green;
		}
		&-no {
			background: red;
		}
	}





}