.events {
	&-item {

		display: flex;


		time {
			flex: 1;
			display: block;
			font-weight: .75em;
			font-weight: 700;


			margin: 0 $baseunit/2 0 0;
		}


	}
}

.event {
	&-title {
		flex: 2;
		display: block;
	}
}