.header {

	background: rgba($black,.75);	
	padding: $baseunit;
	border-radius: 8px;

	&-wrapper {
		padding: 0 $baseunit/4;
		height: 10%;

		// display: flex;
		// flex-flow: column nowrap;
		// justify-content: center;
	}

    // padding: $baseunit;



}

.wifi {
	position: absolute;
	top: 24px;
	right: 36px;
	margin: 0;
}