@keyframes fade {
  0%   { opacity: 0; }
  1%   { opacity: 1; }
  99%   { opacity: 1; }
  100% { opacity: 0; }
}

.image { 
    opacity:0; 
    animation-name: fade; 
    animation-duration: 120s; 
    animation-iteration-count: infinite; 
    position:absolute; 
    left:0; 
    right:0; 
}

.images .image:nth-child(1) { animation-delay: 0s; }
.images .image:nth-child(2) { animation-delay: 30s; }
.images .image:nth-child(3) { animation-delay: 60s; }
.images .image:nth-child(4) { animation-delay: 90s; }

.images {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	
}

.image {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    background-size: cover;
}

.image1 {
	background-image: url(../img/bg.jpg);
}

.image2 {
	background-image: url(../img/bg2.jpg);
}

.image3 {
	background-image: url(../img/bg3.jpg);
}

.image4 {
	background-image: url(../img/bg4.jpg);
}