.item {

  border-bottom: solid 1px $lightergray;

  &:first-of-type {
      margin-top: $baseunit/2;
      border-top: solid 1px $lightergray;
  }

  &-title {
    margin: 0;

  }
  &-subtitle {
      margin: 0;
      font-weight: 400;
      font-size: smaller;
    }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content-header {
    padding: $baseunit/2;
  }

    img {
      max-width: 80px;
      max-height: 80px;
      display: block;
      margin: 0 $baseunit/2 0 0;

      border-radius: 50%;
    }

  &-header {
    padding: 0;
    flex: 1;
    &-meta {
      font-style: italic;
      display: flex;

      &-item {
        margin: 0 $baseunit/2 0 0;
      }

    }
  }

  &-meta {
    background: $lightergray;
    padding: $baseunit/2 $baseunit;
    border-radius: 0 0 $default-border-radius $default-border-radius;
    &-item {
      @include font-size(13);
    }
  }

  &-subgroup {
    border-top: solid 1px $lightergray;
    padding: $baseunit/2 0 0 0;

    &-header {
      border-bottom: solid 1px $lightergray;
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0 $baseunit/2 $baseunit/4 $baseunit/2; 
    }

    &-title {
      margin: 0;
      display: inline-block;
      // background: $lightergray;
      text-transform: uppercase;
      padding: 0;

      @include font-size(12);
    }



    &-listitem {
      padding: $baseunit/2;
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: solid 1px $lightergray;

      &-title {

        flex: 1;
        margin: 0;
        @include font-size(12);
        font-weight: 400;
      }

    }

  }

  &-building, &-customer {
    box-shadow: 0 0 2px rgba($black,.4);
    border-radius: $default-border-radius;
    margin: 0 0 $baseunit 0;
    &:first-of-type {
        margin-top: 0;

    }
  }


}
