body {

  background: $black;
 
  height: 100vh;
  width: 100vw;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-flow: column nowrap;

  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  // background-image: url(../img/bg.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: block;
    background: rgba($black,.65);
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
  }



}
.site {

  width: 98%;
  height: 98%;
  overflow: hidden;
  position: relative;

}

