// .messageanimate-enter {
//   opacity: 0.01;
// }

// .messageanimate-enter.messageanimate-enter-active {
//   opacity: 1;
//   transition: opacity 500ms ease-in;
  
// }

// .messageanimate-leave {
//   opacity: 1;
// }

// .messageanimate-leave.messageanimate-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }

// .message {
// 	opacity: 0;
// 	visibility: hidden;
// }

.message {

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	padding: 5%;

	text-align: center;

	border-radius: 12px;

	background: rgba($black,.9);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow: hidden;

	.quote {
		display: inline;
	}

	.message-quote-text {
		// display: inline-block;
	}
	.quote {
		font-size: 48px !important;
		display: inline;
	}
	.message-quote-text p {
		display: inline;
		font-size: 48px !important;
		line-height: 1.1;
		font-style: italic;
		
	}

	figure {
		img {
			padding: 8px;
			border: solid 1px $white;
			margin: $baseunit/4;
			border-radius: 50%;
		}
	}



}