.module {

	padding: $baseunit/4;

	&-inner {
		background: rgba($black,.75);
		box-shadow: 0 0 2px rgba($black,.1);
		border-radius: 8px;
		height: 100%;

		padding: 0 $baseunit $baseunit $baseunit;
		overflow: hidden;

		position: relative;

		&:after {
			position: absolute;
			content: "";
			display: block;
			background: linear-gradient(0deg,$black,rgba($black,0));
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			display: block;
			height: 100px;
		}
	}

	ul, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&-content {
		padding: $baseunit;
		display: block;
		&-wrapper {
			position: relative;
		}
	}

	&-header {
		padding: $baseunit 0 $baseunit/2 0;
		margin: 0 0 $baseunit/2 0;
		border-bottom: solid 1px $darkgray;
		&-title {
			margin: 0;
			color: $white;
			font-size: 1em;
			text-transform: uppercase;
		}
	}

	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			padding: $baseunit/4 0;
			margin: 0;
			display: flex;
			align-items: center;
			border-bottom: solid 1px $lightergray;
			&:last-of-type {
				border-bottom: none;
			}
		}

		&-label {
			width: 23%;
			font-weight: 700;
			padding: 0 $baseunit/2 0 0;
		}
		&-value {
						
			flex: 1;
			
		}
	}

	&-calendar {
		position: absolute;
		left: 0;
		top: 10%;
		bottom: 50%;
		right: 60%;
	}

	&-users {
		position: absolute;
		right: 60%;
		top: 50%;
		bottom: 0;
		left: 0;
	}

	&-weather {
		position: absolute;
		left: 40%;
		top: 10%;
		width: 20%;
		bottom: 0%;
		height: 100%;
	}

	&-beers {
		position: absolute;
		right: 0;
		top: 10%;
		bottom: 0;
		left: 60%;

	}



}