.menu-buttons {

  position: absolute;
  z-index: 199100;
  top: 13px;
  right: $baseunit;

  display: flex;

  .button {
    margin: 0 $baseunit/2 0 0;
  }

  a {
    display: block;
  }

  @include breakpoint(large) {
        @include hidden;
    }
}

.navigation {

    padding: 0;


    @include is-hidden;

    border-top: solid 1px darken($darkgray,5%);
    border-bottom: solid 1px lighten($darkgray,5%);

      a {
        display: block;
        padding: $baseunit/2 $baseunit;
        font-weight: 300;
        color: $white;
        border-top: solid 1px lighten($darkgray,5%);
        border-bottom: solid 1px darken($darkgray,5%);

        svg {
          margin: 0 $baseunit/4 0 0;
        }

        @include font-size(21);
        text-align: center;

        &:last-of-type {
          border-bottom: solid 1px darken($darkgray,5%);
        }

      }


      &.is-active {
          @include is-active;
          padding: $baseunit*3 0;
          overflow-y: auto;

          position: absolute;
          z-index: 99900;
          background: rgba($darkgray,.95);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
      }

      @include breakpoint(large) {
        @include is-active;
        margin-bottom: $baseunit*2;
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        right: auto;
        padding: 0;
        a {
          @include font-size(14);
          text-align: left;
        }
      }





}
