.page {
  &-header {
    padding: $baseunit;

    background: $lightergray;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
        @extend .h6;
        color: $darkblue;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
    }
  }

  @include breakpoint(large) {
    &-header {
      padding: $baseunit*2 $baseunit $baseunit $baseunit;
    }
  }


}
