.weather {
	&-content {

		text-align: center;

	}

	&-temp {
		font-weight: 400;
		font-size: 7em;

		&:after {
			content: "\00B0";
		}

	}

	&-feelslike {
	&:after {
			content: "\00B0";
		}

	}

	&-summary {
		padding-top: $baseunit;
	}
}