////////////////////////////////////////////////
// Brand Colors

$red							: #b30000;

$lightblue                      : #839ebc;
$blue                           : #0f3f79;
$mediumblue                     : #134371;
$darkblue                       : #002f59;

$green							: #8ab53e;
$brown							: #2c2c20;
$orange                         : #ff6000;

$black                          : #000;
$darkgray                       : lighten($black,20%);
$gray                           : lighten($black,50%);
$mediumgray                     : lighten($black,70%);
$lightgray                      : lighten($black,80%);
$lightergray                    : lighten($black,90%);
$white                          : #fff;





$darkpurple                     : #000411;
$purple                         : #160C28;
$yellow                         : #EFCB68;
$lightpurple                    : #AEB7B3;
$lighterpurple                  : #E1EFE6;


$defaultcolor                   : $darkgray;
$altcolor                       : $purple;



$errorcolor                     : #cc0000;
$errorcolorbg                   : lighten($errorcolor , 55%);
$helpcolor                      : lighten(yellow,40%);
$successcolorbg                 : lighten($blue,20%);


////////////////////////////////////////////////
// Social Colors

$twitter-color                  : #00aced;
$facebook-color                 : #3b5998;
$pinterest-color                : #C92228;
$instagram-color                : #663300;










////////////////////////////////////////////////
//// Misc

$default-border-radius			    : 4px;
$default-button-color           : $blue;
$default-skew-amount            : 20deg;


////////////////////////////////////////////////
//Breakpoints

$viewportmini					: 320px;
$viewportsmall					: 600px;
$viewportmedium					: 769px;
$viewportlarge					: 880px;
$viewportxlarge					: 1000px;





////////////////////////////////////////////////
//Font Families

$serif				  			   : "Times New Roman", Times, Georgia, serif;
$sans-serif						   : "proxima-nova-condensed","Helvetica Neue", Helvetica, Arial, sans-serif;
$fixed-width					   : "Courier", sans-serif;
$scriptface						   : "Permanent Marker", Georgia, "Times New Roman", Times, serif;



////////////////////////////////////////////////
//Type Properties

$basefont 						  	: $sans-serif;
$baseheadingfont 					: $sans-serif;
$altfont						    :   "Helvetica Neue", Helvetica, Arial, sans-serif;
$logofont						    : $altfont;

$basefontsize 					: 20;
$baselineheight 				: 1.5;
$baseunit                       : $baselineheight*1em;
$altfontlineheight				: 1.2em;

$basefontweight 				: 400;
$baseheadingfontweight 			: 700;
$altfontweight					: 500;


$bodybackgroundimage  : '' ;
$bodycolor						: $darkgray;
$textcolor						: $white;

$baseheadingfontcolor			: $white;

$linkcolor						: $blue;
$linkweight						: 700;
$linkstyle						: none;

$linkhovercolor					: $black;
$linkhoverweight				: 700;
$linkhoverstyle					: none;



////////////////////////////////////////////////
//// Navigation

$nav-link-font-size             : 16;
$nav-link-color                 : $purple;
$nav-link-background            : none;
$nav-link-color-hover           : $white;
$nav-link-background-hover      : mix($purple,$white,95%);
$nav-link-padding               : $baseunit/4 $baseunit/2;
$nav-link-weight                : 400;
$nav-link-transform             : uppercase;
$nav-link-border-radius         : 2px;




////////////////////////////////////////////////
//// Layout/Grids

// Set to true to be able to define grids in markup
$gridhtml                       : true;

$wrapperwidth					: 100%;
$containerwidth					: 92%;
$containermaxwidth				: $viewportxlarge;
$numcolumns						: 12 ;
$gutterwidth					: $baselineheight;

$griditem_relativespacing       : 2%;
$griditem_absolutespacing       : $baseunit/2;
$gridunit                       : (100%/$numcolumns);




////////////////////////////////////////////////
//// Logo

// $logo-default-width             : 40px;
// $logo-default-height            : 40px;
// $logo-img-jpg                   : '';
// $logo-img-svg                   : '../img/ml-logo.svg';
// $logo-img-png                   : '../img/ml-logo.png';

// $logo-full-img-svg              : '../img/ml-logo-full.svg';
// $logo-full-img-png              : '../img/ml-logo-full.png';




////////////////////////////////////////////////
//// Forms

$inputbackground 				: $white;
$inputborder 					: $gray;
$inputbordersize				: 1px;
$inputborderstyle				: solid;

$inputhoverbackground			: $lightergray;
$inputhoverborder				: $textcolor;

$inputfocusbackground			: $white;
$inputfocusborder				: $darkgray;

$placeholdercolor 				: $lightgray;



////////////////////////////////////////////////
//// Buttons

$button-padding                 : $baseunit/4 $baseunit/1.5;
$button-margin                  : $baseunit/4;
$button-border-radius           : $default-border-radius;
$button-background              : $blue;
$button-background-hover        : mix($blue,$white,90%);
$button-color                   : $white;
$button-color-hover             : $white;
$button-font-size               : $basefontsize;
$button-font-style              : normal;
$button-text-transform          : none;
$button-font-weight             : 400;


////////////////////////////////////////////////
//// Widgets
$widget-text-color              : $white;
$widget-background-color        : $darkpurple;


////////////////////////////////////////////////
//// Card

$item-bg                        : $white;
$item-content-padding           : $baseunit;
$item-title-size                : 16;
$item-border-size               : 1px;
$item-border-color              : $lightergray;
$item-border-style              : solid;

////////////////////////////////////////////////
//// Section

$section-bg                     : $white;
$section-padding                : $baseunit;
