.alert {
    padding: $baseunit;
    margin: 0 0 $baseunit 0;

    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &-danger {
        color: red;
        background: pink;
    }

    &-success {
        color: mix($black,$green,20%);;
        background: mix($white,$green,70%);
        button { color: mix($black,$green,70%); }
    }

    &-page {
        border-radius: 0 0 4px 4px;
    }

    &-info {
        background: lighten($blue,50%);
        button {
            display: none;
        }
    }

    &-welcome {
        background: lighten($blue,50%);
        button { color: mix($black,$blue,70%); }
    }
}
