.article {

    &-author {

        display: flex;
        align-items: center;

        &-image {
            margin: 0 $baseunit/2 0 0;
            img {
                width: 48px;
                height: 48px;
                display: block;
            }
        }

        &-info {

        }

        &-name {
            display: block;


            @include font-size(18);

        }

        &-title {
            color: $gray;
            @include font-size(13);
        }

    }

}