.badge {
    margin: 0 0 $baseunit 0;
    padding: 0 $baseunit/2;
    display: block;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;

    border-radius: 2px;

    @include font-size(10);

    &-alert {

    }

    &-notice {
        background: $lightblue;
    }

    &-new {
        background: green;
    }

    &-done {
        color: $gray;
    }

    &-pinned {
        position: absolute;
        top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

}