.box {
    // @include padded;

    padding: $baseunit/2;

    &-vertical {
        @include padded($baseunit 0);
    }

    &-horizontal {
        @include padded(0 $baseunit);
    }

    @include breakpoint(medium) {
    	padding: $baseunit;
    }

}