.breadcrumbs {
    padding: 0 0 $baseunit 0;

    li, span {
        display: inline;
        @include font-size(13);
    }

    a {
        display: inline-block;
        font-weight: 400;
        @include font-size(13);

    }
}