.button {
    display: inline-block;

    padding: $button-padding;
    // margin: $button-margin $button-margin $button-margin 0;

    text-align: center;
    text-transform: $button-text-transform;
    color: $button-color;
    font-style: $button-font-style;
    font-weight: $button-font-weight;

    background: $default-button-color;
    border-radius: $button-border-radius;

    //border: solid 1px $default-button-color;

    @include font-size($button-font-size);

    &:hover {
        color: $button-color-hover;
        background: $button-background-hover;
    }

    &-alert {
      background: $red;
      &:hover {
          background: mix($red,$white,90%);
      }
    }

    // &-outline {
    //     color: $gray;
    //     background: $white;
    //     border: solid 1px $lightgray;

    //     &:hover {
    //         color: $darkgray;

    //         border: solid 1px $gray;
    //     }

    //     &.active {
    //         background: $darkgray;
    //         color: $white;
    //     }

    // }


    &-xsmall {
        padding: $baseunit/4 $baseunit/2;
        font-size: 75%;
    }

    &-small {
        padding: $baseunit/4 $baseunit/2;
        font-size: 87.5%;
    }
    &-large {
        font-size: 125%;
    }

}


.close {
    float: right;
    padding: 0;
    margin: 0;
    font-weight: 700;
    background: none;
}
