dl {
  padding: 0;
  margin: 0;
    dt {
      font-weight: 700;
      text-transform: uppercase;
      color: $gray;
      @include font-size(11);
    }
    dd {
      padding: 0 0 $baseunit/2 0;
      margin: 0;
    }
}
