.events {

    &-listitem {
        margin: $baseunit 0 $baseunit 4px;
        padding: $baseunit/2 $baseunit;
        border-left: solid 2px $darkgray;

        position: relative;

        background: rgba($white,.7);

        border-radius: 0 $default-border-radius/2 $default-border-radius/2 0;

        &:first-of-type {
            margin-top: 0;
        }

        &-date {
            display: block;
            text-transform: uppercase;
            font-weight: 700;
            color: $darkgray;
            @include font-size(13);
        }

        &-title {
            margin: 0;
            a {
                color: $darkgray;
                font-weight: 400;
            }
        }

        &-more {
            font-weight: 400;
            @include font-size(12);
        }


        &-type  {

            margin: 0;

            color: $gray;
            // text-transform: uppercase;
            font-weight: 400;

            @include font-size(13);


        }

         &:before {
                content: "";
                width: 12px;
                height: 12px;
                display: block;

                position: absolute;
                left: -7px;
                top: 15px;

                border-radius: 30em;

                background: $darkgray;

            }


    }

}

.event-type {

    &-misc {
        background: rgba($color-misc,.1);
        border-left-color: $color-misc;
        &:before {
            background: $color-misc;
        }

        .events-listitem-type {
            color: $color-misc;
        }

    }

    &-recital {
        background: rgba($color-recital,.1);
        border-left-color: $color-recital;
        &:before {
            background: $color-recital;
        }
        .events-listitem-type {
            color: $color-recital;
        }
    }

    &-rockstar {
        background: rgba($color-rockstar,.1);
        border-left-color: $color-rockstar;
        &:before {
            background: $color-rockstar;
        }
        .events-listitem-type {
            color: $color-rockstar;
        }
    }



}

