form, input, textarea, button {
    font-family: $sans-serif;
}



label {
    display: block;
    font-weight: 700;

    color: $gray;


    cursor: pointer;

    // @include font-size(14);



}

button {
    padding: $baseunit/2 $baseunit;

    border: none;

    background: $button-background;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;

}

input[type="file"] {
    max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="tel"],
textarea {
    display: block;
    padding: $baseunit/2;

    width: 100%;

    border: solid 1px $lightgray;

    border-radius: 2px;

}


// // .human {
// //     display: none;
// // }

textarea {
    width: 100%;
    min-height: 150px;
    // padding: $baseunit/4;

    border-radius: 2px;
    border: solid 1px $lightgray;
}

.field {
  margin: 0 0 $baseunit/2 0;
  &-button {
    margin: $baseunit/2 0 0 0;

    .button {
      width: 100%;
    }

  }
}



select {
    width: 100%;

    @include font-size(18);


}


.fields-inset {
  padding: $baseunit;
  border: solid 1px $lightergray;
  margin: 0 0 $baseunit 0;
}

.field {
  &-radio {
    &-button {
      display: inline-block;
      padding: $baseunit/4;
      margin: 0 $baseunit/2 0 0;
    }
  }
}

// .field-checkbox,
// .field-radio {
//     padding: $baseunit/6 0;
//
//     text-indent: -#{$baseunit};
//     padding-left: $baseunit;
//
//     &:last-child {
//         border-bottom: none;
//         padding-bottom: 0;
//     }
//
//     .fields-multiple & {
//         border-bottom: none;
//         margin-bottom: 0;
//
//     }
//
//     label {
//         padding: $baseunit/4 $baseunit/4 $baseunit/4 0;
//     }
//
//     input,
//     label {
//         display: inline-block;
//         // margin: 0;
//         vertical-align: middle;
//     }
//
//     input {
//
//         margin: 0 $baseunit/2 0 0;
//     }
//
// }


// //Fields

// .field {
//     // margin: 0 0 $baseunit 0;
//     @include padded;

// }

// // .field-group {
// //     margin: $baseunit 0;

// //     background: $white;
// //     border: solid 1px $lightergray;

// //     border-radius: 4px;


// //     &:first-of-type {
// //         margin-top: 0;
// //     }

// //     &.field-group-submit {
// //         padding: 0;
// //         background: none;
// //         border: none;


// //     }

// // }

// // .fields-multiple {



// //     @include breakpoint(medium) {

// //         display: flex;
// //         justify-content: space-between;
// //         flex-flow: row wrap;

// //         .field {
// //             // flex: 1;
// //             //padding-right: $baseunit;
// //         }

// //     }

// // }


// // .field {
// //     &.error {
// //         input, select, textarea {
// //             border-color: $errorcolor;
// //             background: $errorcolorbg;
// //         }

// //     }
// // }

// .field-submit {
//     margin: 0;
//     button {
//         @include font-size(16);
//     }
// }

// .field-group-title {
//     @include padded;
//     margin: 0;
//     border-bottom: solid 1px $lightergray;
// }

// // .field-inset-group {

// //     @include breakpoint(medium) {

// //         display: flex;
// //         flex-flow: row wrap;

// //         header {

// //             flex: 1 100%;
// //             color: $altcolor;
// //         }

// //         .fields-sidebyside {
// //             flex: 1 48%;
// //         }

// //     }

// // }

// // .field-recipient {
// //     width: 100%;
// //     padding: 0 0 $baseunit/2 0;
// //     margin: 0 0 $baseunit/2 0;
// //     @include clearfix;

// //     border-bottom: solid 1px $lightergray;

// //     label {
// //         display: inline-block;
// //         vertical-align: middle;
// //         float: none;
// //     }

// //     &-content {
// //         display: inline-block;
// //         vertical-align: middle;
// //         width: 100%;


// //         figure {
// //             display: inline-block;
// //             vertical-align: middle;
// //             width: 32px;
// //             height: 32px;
// //             // float: left;
// //         }

// //     }

// //     &-name {
// //         margin: 0;
// //         display: inline-block;
// //         vertical-align: middle;

// //         @include font-size(14);

// //     }
// // }

//Help
.help-text {
    display: block;

    color: $gray;

    font-style: italic;
    @include font-size(13);
}

.error-text {
    @extend .help-text;

    color: $errorcolor;
}

.required {
    color: $errorcolor;
}


//Alert
.help-block {
    padding: $baseunit/2;
    margin: 0 0 $baseunit/2 0;
    background: $helpcolor;
    border-radius: 2px;
}

.alert-block {
    @extend  .help-block;
    background: $errorcolorbg;
    color: $errorcolor;
}

.success-block {
    @extend  .help-block;
    background: $successcolorbg;
}



//INline Form

// .form-inline {
//
//     // select {
//     //     width: auto;
//     // }
//     // select, button, div {
//     //     display: inline-block;
//     // }
//
//     label {
//         @include visuallyhidden;
//     }
//
//     // .field-group {
//     //     margin: 0 $baseunit 0 0;
//     //     padding: 0;
//     //     border: none;
//     // }
//
//     .field {
//       margin: 0;
//       padding: 0;
//     }
//
//     // .button {
//     //     padding: $baseunit/4 $baseunit/2;
//     //     background: $darkblue;
//     // }
//     //
//     // &.form-right {
//     //     text-align: right;
//     // }
//
//     @include breakpoint(medium) {
//
//         // form {
//         //     display: flex;
//         //     flex-flow: row wrap;
//         // }
//         //
//         // .field {
//         //     // padding: 0;
//         //     &-input {
//         //         display: block;
//         //         flex: 1;
//         //         padding: 0;
//         //     }
//         //
//         //     &-submit {
//         //         display: block;
//         //         background: red;
//         //     }
//         // }
//         //
//         //
//         // .field-group {
//         //     &-title {
//         //         width: 100%;
//         //         flex: 1 100%;
//         //     }
//         // }
//
//     }
//
// }




.form-search {
    //
    // background: $lightgray;
    // padding: $baseunit/2;


    // .field {
    //   &-button {
    //     margin: 0;
    //   }
    // }
    //
    // @include breakpoint(large)
    // {
    //   .field {
    //     margin: 0;
    //   }
    // }



    //
    // // button {
    // //     @include hidden;
    // // }
    //
    // label {
    //     @include hidden;
    //
    // }
    //
    // input[type="search"] {
    //     box-sizing: border-box;
    //     border: none;
    //     border-radius: 0px;
    // }



}
