@mixin grid {
        display: flex;
        flex-flow: row wrap;

        .no-flexbox & {
            @include clearfix;

            // margin-right: -#{$baseunit};
            // margin-left: -#{$baseunit};

        }

        .grid {
            @include grid-nested;
        }

}

@mixin grid-nested {
    .no-flexbox & {
        margin-left: 0;
    }
}



@mixin grid-justify($justify: space-between) {
    justify-content: $justify;
}

@mixin grid-align($align: flex-start) {
    align-items: $align;
}

@mixin griditems($br: 'md') {

        $i : 1;
         @while $i <= $numcolumns {

            &-#{$br}-#{$i} {
                @include griditem($i);
            }

            //Make each column a bit smaller to add space between
            .grid-spaced &-#{$br}-#{$i} {
                @include griditem($i,true);
            }

           $i: $i + 1;
         }

        //Make full width column 100% width
        .grid-spaced &-#{$br}-#{$numcolumns} {
           width: 100%;
        }

}

@mixin griditem($columns: 12, $spaced: false) {

    @if $spaced == true {

        $width: $gridunit * $columns;
        $calcwidth: $width - $griditem_relativespacing;

        flex: 0 auto;
        width: $calcwidth;
        width: calc(#{$width} - #{$griditem_absolutespacing});

        .no-flexbox & {
            width: $width;
            padding: 0 $baseunit 0 0;

        }

    } @else {
         width: $gridunit * $columns;

        .no-flexbox & {
            float: left;
        }
    }

}


//Without mixins. Add classes to html
@if $gridhtml == true {

    .grid-centered {
        @include grid-justify(center);
    }

    .grid-spaced .griditem {
        margin-bottom: $baseunit;
    }

    .grid-align {
        @include grid-align(center);
    }

    @include breakpoint(small) {
        .grid {

            @include grid;

            &-spaced {
                @include grid-justify;
            }

         }

        .griditem {
            @include griditems('sm');
        }

    }

    @include breakpoint(medium) {

        .griditem {

            @include griditems('md');

        }

    }

    @include breakpoint(large) {

        .griditem {

            @include griditems('lg');

        }

    }

}


