.wrapper {
	@extend %clearfix;
	width: 100%;
    padding: $baseunit;

    // background: $white;

    @include breakpoint(small) {

        // padding: $baseunit 0;
        margin: 0 auto;
    }


}

.container {

	@include breakpoint(small) {
        max-width: $containermaxwidth;
	}

}



////////////////////////////////////////////////
// Grids

$colunit : (100%/$numcolumns);

.grid {
	@extend %clearfix;
	padding: $baseunit 0;
}

$i : 1;
    @while $i <= $numcolumns {
      .grid-col-#{$i} {

        padding: $baseunit/2;

      }
      $i: $i + 1;
    }


@media only screen and (min-width: $viewportmedium) {

	$i : 1;
	@while $i <= $numcolumns {
	  .grid-col-#{$i} {
	  	width: $colunit * $i;
        padding: $baseunit;
	  	// padding: 0 $baseunit;
	  	float: left;
	  }
	  $i: $i + 1;
	}

}




