[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
.icon {

    &-large {
        width: 1.5em;
        height: 1.5em;
    }
    &-xlarge {
        width: 2em;
        height: 2em;
    }

    &-light {
        fill: $white;
    }

}

.active .wrapicon .icon-dark {
    fill: $white;
}

.mls {
  @include visuallyhidden;
}
