html {
  font-size : 62.5%;
}

* {
    @include font-size();
    line-height : $baselineheight;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;

    @if $bodybackgroundimage != '' {
        background: url($bodybackgroundimage);

        background-position: 50% 50%;

    } @else {
        background-color : $bodycolor;
    }


    font-family : $basefont;
	  color: $textcolor;
}
