.item {

    background: $item-bg;

    // border: $item-border-style $item-border-size $item-border-color;
    // border-radius: $default-border-radius;
    //


    &-title {
      @include font-size($item-title-size);
      margin: 0 0 $baseunit/2 0;
    }

    &-content {
      padding: $item-content-padding;
    }

    



}

.items {
  &-meta {
    &-header {
      padding: 0 0 $baseunit/2 0;
    }
  }
}
