.logo {

    @extend .h2;


    &-image {
        padding: $baseunit/2;
        background: $darkblue;

        a {
            display: block;
            padding: 0;

            width: $logo-default-width;
            height: $logo-default-height;
            // padding-top: 100%;
            // height: 0;
            margin: 0 auto -1px auto;

            background-image: url($logo-img-svg);
            background-repeat: no-repeat;
            background-size: 100%;

            @include hide-text;

        }

    }


}



    @include breakpoint(medium) {
        .logo {
            &-image {
                width: 100%;
                padding: $baseunit/2 $baseunit;
                a {
                    width: $logo-default-width*2;
                    height: $logo-default-height*2;
                }
            }

        }


    }


