/////////////////////
// Font
/////////////////////
@mixin font-size($font-size: $basefontsize){
font-size : #{$font-size}px;
font-size : #{$font-size / 10}rem; }



/////////////////////
// Icon / Include fontawesome
/////////////////////
@mixin icon-font($icon, $margin: 0 0 0 4px) {
  content: $icon;
  font-family: icomoon;
  display: inline-block;
  margin: $margin;

}


/////////////////////
// Hidey Stuff  - From https://github.com/malarkey/320andup/blob/master/scss/_mixins.scss
/////////////////////
// For image replacement

@mixin hide-text() {
text-indent : -1000%;
white-space : nowrap;
overflow : hidden; }

// Hide from visual and speaking browsers
@mixin hidden() {
display : none !important;
visibility : hidden; }

// Hide but maintain layout
@mixin invisible() {
visibility : hidden; }

@mixin toshow() {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  visibility : hidden;
  @include transition(all .3s linear);
  padding: 0;
}

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

//Placeholders
%hide-text { @include hide-text; }
%hidden { @include hidden; }
%invisible { @include invisible; }







/////////////////////
// Clearfix
/////////////////////
@mixin clearfix() {
  &:before,
  &:after {
      content: "";
      display: table;
      flex-basis: 0;
        order: 1;
  }

  &:after {
      clear: both;
  }
}

%clearfix { @include clearfix; }





/////////////////////
// Media Queries
/////////////////////
@mixin breakpoint($point) {
  @if $point == mini {
    @media (min-width: $viewportmini) { @content; }
  }
  @else if $point == small {
    @media (min-width: $viewportsmall) { @content; }
  }
  @else if $point == medium {
    @media (min-width: $viewportmedium)  { @content; }
  }
  @else if $point == large {
    @media (min-width: $viewportlarge)  { @content; }
  }
  @else if $point == xlarge {
    @media (min-width: $viewportxlarge)  { @content; }
  }
}




/////////////////////
// Media Queries
/////////////////////
@mixin calc($property, $expression) {

  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: calc(#{$expression});
}










/////////////////////
// Transition @include transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);
/////////////////////
@mixin transition($transition) {
-webkit-transition : $transition;
-moz-transition : $transition;
-ms-transition : $transition;
-o-transition : $transition;
transition : $transition; }

%transition { @include transition(all .2s linear); }






/////////////////////
// Utility
/////////////////////
// %rounded { border-radius: $default-border-radius; }
@mixin rounded { border-radius: $default-border-radius; }
@mixin padded($padding: $baseunit) { padding: $padding; }


@mixin text-shadow() {
    text-shadow: 1px 1px rgba($black,.5);
}



/////////////////////
// Link Colors
/////////////////////
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited;
    }
  }
  @if $focus {
    &:focus {
      color: $focus;
    }
  }
  @if $hover {
    &:hover {
      color: $hover;
    }
  }
  @if $active {
    &:active {
      color: $active;
    }
  }
}