nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    &-main {


        // padding: $baseunit/1.5;

        display: flex;


        a {

            color: $nav-link-color;
            background: $nav-link-background;

            padding: $nav-link-padding;

            text-transform: $nav-link-transform;
            font-weight: $nav-link-weight;

            border-radius: $nav-link-border-radius;

            @include font-size($nav-link-font-size);

            &:hover {
                color: $nav-link-color-hover;
                background: $nav-link-background-hover;
            }
        }

    }

    &-inline {
      a {
        display: inline-block;
        margin: $baseunit/2 $baseunit/4 0 0;
        padding: $baseunit/4 $baseunit/2;
        background: $lightergray;
        font-weight: 400;

        border-radius: $default-border-radius;

        @include font-size(12);
      }
    }
}
