.panel {
    margin: 0 0 $baseunit 0;

    background: $white;
    // border-radius: 2px;

    // box-shadow: 0 0 4px rgba($black,.05);

    &-bordered {
      border-radius: $default-border-radius;
      box-shadow: 0 0 4px rgba($black,.2);

    }

    &-header {
        padding: $baseunit;
        border-bottom: solid 1px $lightergray;

        display: flex;
        align-items: center;
        // text-align: center;
        &-title {
          flex: 1;
            margin: 0;
            color: $gray;
            font-weight: 700;
            text-transform: uppercase;

            @include font-size(16);
      }


    }

    &-content {
        padding: $baseunit;

        background: none;
    }

    &-footer {
        padding: 0 $baseunit $baseunit $baseunit;
        // background: lighten($lightblue,20%);
        // border-top: solid 1px $lightgray;
    }


    &-form {

        width: auto;
        max-width: 320px;
        margin: 0 auto;

    }

    &-listitem {

        margin: 0 0 $baseunit*2 0;
        // border-top: solid 1px $lightergray;
        a {
            display: block;
        }

        &:last-of-type {
          margin: 0;
        }

    }

    &-nav {
        &-listitem {
            padding: $baseunit/2 $baseunit;
            border-bottom: solid 1px $lightergray;
            a {
                display: block;



            }
        }
    }

    &-subheader {
      display: flex;
      
      &-title {
        flex: 1;
        padding: 0 $baseunit 0 0;
        @include font-size(14);
      }

    }

    &-dlist {
        padding: $baseunit/2 $baseunit;
        dt, dd {
            margin: 0;
        }

        dd {
            margin: 0 0 $baseunit/2 0;
        }
        dt {
            color: $mediumgray;
            font-weight: 700;
            text-transform: uppercase;
            @include font-size(13);
        }

    }


    &-block {
      display: flex;
      align-items: center;

      border-top: solid 1px $lightergray;
      padding: $baseunit/2 0;
      margin-bottom: $baseunit/2;

      &:last-of-type {
        border-bottom: solid 1px $lightergray;
      }

      ul {
        flex: 1;
        display: flex;
        li {
          padding: 0 $baseunit 0 0;
          flex: 1;
        }
        li span {
          display: block;
          font-weight: 700;
          text-transform: uppercase;
          color: $gray;

          @include font-size(12);

        }
      }
    }

}
