/////////////////////////////
// Display

.is-hidden {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    @include transition(all .3s linear);
    padding: 0;
}

.is-active {

    opacity: 1;
    height: auto;
    padding: inherit;
}

@mixin is-hidden {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    @include transition(opacity .3s linear);
    padding: 0;
}

@mixin is-active {
    opacity: 1;
    height: auto;
    padding: inherit;
}




/////////////////////////////
// Alerts

.alert {}




/////////////////////////////
// Error

.error {}



/////////////////////////////
// disabled

.disabled {
    color: $gray;
    cursor: not-allowed;
}
