// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* Typography =================================================== */

// HEADINGS ====================================================

h1, h2, h3, h4, h5, h6 {
margin : 0;
font-family : $baseheadingfont;
font-weight : $baseheadingfontweight;
color : $baseheadingfontcolor;
text-rendering : optimizelegibility; }

h1,
.h1 {
margin-bottom : $baseunit / 2;
@include font-size(32);
font-weight: 700;
line-height : 1.2; }

h2,
.h2 {
margin-bottom : $baseunit / 2;
@include font-size(28);
line-height : 1.2;
}

h3,
.h3 {
margin-bottom : $baseunit / 1.5;
@include font-size(21);
line-height : 1.3; }

h4,
.h4 {
margin-bottom : $baseunit;
@include font-size(18);
line-height : 1.25; }

h5,
.h5 {
@include font-size(16);
margin-bottom : $baseunit; }

h6,
.h6 {
margin-bottom : $baseunit;
@include font-size(14);
font-weight : normal;
letter-spacing : 1px;
text-transform : uppercase; }


//Colors
h2, .h2 {
    color: $defaultcolor;
}

h3, .h3 {
    color: $defaultcolor;
}

h4, .h4 {
    color: $defaultcolor;
}

h6, .h6 {
    color: $defaultcolor;
}

p {
    margin: 0 0 $baseunit/2 0;
}

// Generic

a {
    @include link-colors($linkcolor,$linkhovercolor);
    font-weight: 700;
    text-decoration: none;
}

blockquote {
    margin: 0;
    // padding: $baseunit;

}

figcaption {
    strong {
        display: block;
        font-weight: 700;
        font-family: $sans-serif;
    }
}



