.widget {

        margin: 0 0 $baseunit 0;




        &-title {
            margin: 0;

            a {
                color: $widget-text-color ;
                @include font-size(32);
            }
        }

        .textwidget a {
            display: block;
            color: $widget-text-color ;
            @include font-size(32);
            padding: $baseunit/2 $baseunit/4;
        }

        &-home {

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;


            background: $widget-background-color;
            text-align: center;
        }

    @include breakpoint(medium) {
        &-home {
            margin: 0;
        }

    }

}