.alignright {
    float: right;
    margin: 0 0 $baseunit/2 $baseunit/2;
}

.alignleft {
    float: left;
    margin: 0 $baseunit/2 $baseunit/2 0;
}

.aligncenter {
    width: auto;
    margin: 0 auto;
    text-align: center;
}